body{
    background-color: aquamarine;
}

h1{
    text-align: center;

}

ul{
    font-size: x-large;
    color: brown;
}

.home-image{
width: 250px;
border: 3px solid black;
}

.footer{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 99%;
}